 .slick-arrow{
    background: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2px 0 0;
    width: 30px;
    height: 30px;
}
.slick-arrow:hover{
    background-color: black;
}