.slick-arrow {
  background: black;
  position: absolute;
  top: 50%;
}
.slick-prev{
  left: 10px;
}
.slick-next{
  right: 10px;
}
.slick-arrow:hover{
  background-color: black;
}
/* Планшет */
@media (min-width: 769px) and (max-width: 1024px) {
  .slick-arrow {
    width: 25px;
    height: 25px;
    padding: 1px 0 0;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .slick-arrow {
    width: 20px;
    height: 20px;
    padding: 0;
  }
}

/* Өтө кичинекей */
@media (max-width: 479px) {
  .slick-arrow {
    width: 18px;
    height: 18px;
    padding: 0;
  }
}

/* Чоң экрандардагы стрелка жана масштаб эффект */
.slick-slide > div {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

  .slick-slide > div {
    transform: scale(1) !important;
    z-index: 1 !important;
  }
