.baner {
  position: relative;
  width: 100%;
  height: 800px; /* сүрөт чоноюп кетпеши үчүн чектөө */
  /* overflow: hidden; */
  margin-top: 20px;
}

.banerimg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* сүрөт контейнерге туура келет */
  display: block;
}

.info-baner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  text-align: center;
}

.info-baner h2 {
  font-size: 100px;
  color: white;
  line-height: 100px;
}

.info-baner p {
  margin-top: 20px;
  font-size: 28px;
  color: white;
}

.box2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 800px;
  padding: 10px 20px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.select {
  display: grid;
  z-index: 999;
}

select {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

select:focus {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.date-btn {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.date-btn:hover {
  color: #3d91ff;
}

.peoples input {
  display: block; /* оңдолду */
}

.podbtn {
  width: 168px;
  height: 40px;
  background-color: #ec1c24;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center; /* оңдолду */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
}

.calendar-modal {
  display: none;
  position: absolute;
  top: 70px;
  left: 220px;
  z-index: 999;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.calendar-modal.show {
  display: block;
}

.turis {
  width: 80px;
  font-size: 16px;
  border: none;
}
.popup-overlay {
}
.popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  line-height: 30px;
  font-size: 20px;
  width: 400px;
}
.popup-box button {
  width: 200px;
  font-size: 20px;
  background-color: #ec1c24;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}

/* ============================= */
/* Планшет (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .baner {
    height: auto;
  }

  .info-baner {
    top: 45%;
    padding: 0;
  }
  .info-baner h2 {
    font-size: 60px;
    line-height: 70px;
  }
  .banerimg {
    height: 600px;
  }
  .info-baner p {
    font-size: 20px;
  }
  .box2 {
    width: 760px;
  }
}

/* ============================= */
/* Мобилдик (480px - 768px) */
@media (min-width: 480px) and (max-width: 768px) {
  .banerimg {
    height: 100%;
  }
  .info-baner {
    top: 35%;
  }
  .info-baner h2 {
    font-size: 50px;
    line-height: 40px;
  }
  .info-baner p {
    font-size: 16px;
  }
  .box2 {
    width: 300px;
    height: 320px;
    flex-direction: column;
    gap: 0;
    padding: 15px;
    top: -20px;
    text-align: left;
  }
  .podbtn {
    width: 100%;
  }
  .select {
    text-align: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  label {
    font-size: 12px;
    color: #ccc;
  }
  .date-btn {
    text-align: left;
  }
  .peoples {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .turis {
    border: none;
  }

  .calendar-modal {
    left: -30px;
    top: 200px;
  }
}

/* ============================= */
/* Өтө кичине (≤479px) */
@media (max-width: 479px) {
  .banerimg {
    width: 100%; /* оңдолду */
    object-fit: cover;
  }
  .calendar-modal {
    left: -30px;
    top: 200px;
  }
  .info-baner {
    top: 30%;
  }
  .info-baner h2 {
    font-size: 40px;
    line-height: 36px;
  }
  .info-baner p {
    font-size: 16px;
  }
  .box2 {
    width: 300px;
    height: 320px;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    top: 0;
    text-align: left;
  }
  .podbtn {
    width: 100%;
    height: 35px;
    font-size: 14px;
  }
  .select {
    text-align: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  label {
    font-size: 12px;
    color: #ccc;
  }
  .date-btn {
    text-align: left;
  }
  .peoples {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .turis {
    border: none;
  }
}
